.container-myLayanan {
  margin: 0%;
}

.container-card {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 20px;
}



.layanan {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  flex: 0 1 25%;
}


.btn-primary {
  align-items: center;
  justify-content: center;
}


@media (max-width: 992px) {

  .card{
    flex: 0 1 40%;
  }

  h5{
    font-size: 14px;
  }

  p{
    font-size: 12px;
  }
}